<plugin name='daisy-cms' version='0.2' grailsVersion='1.2.0 &gt; *'>
  <author>Joshua Davis</author>
  <authorEmail>webtech20@gmail.com</authorEmail>
  <title>Plugin summary/headline</title>
  <description>\
Daisy Grails Plugin
</description>
  <documentation>http://grails.org/plugin/daisy-cms</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.daisyPlugin.controller.DaisyController</resource>
    <resource>com.daisyPlugin.daisyIntegration.service.DaisyService</resource>
    <resource>com.daisyPlugin.daisy.tag.DaisyCmsTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>